@layer utilities {
  .font-opentype {
    font-feature-settings: "liga", "kern";
  }
  
  .font-seasons-light {
    font-feature-settings: "liga" 1, "kern" 1, "ss01" 1;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
    font-variant-numeric: oldstyle-nums proportional-nums;
  }
}

@font-face {
  font-family: 'BrownSugar';
  src: url('public/fonts/brown-sugar.ttf') format('truetype');
}

@font-face {
  font-family: 'TheSeasonsLight';
  src: url('public/fonts/theSeasons/Fontspring-DEMO-theseasons-ltit.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-feature-settings: normal;
}

@font-face {
  font-family: 'TheSeasonsRegular';
  src: url('public/fonts/theSeasons/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
}

@font-face {
  font-family: 'BodyGrotesque';
  src: url('public/fonts/BodyGrotesque/1.Body-Grotesque-Slim-Bold-trial.ttf') format('opentype');
}