@layer utilities {
  .font-opentype {
    font-feature-settings: "liga", "kern";
  }
  
  .font-seasons-light {
    font-feature-settings: "liga" 1, "kern" 1, "ss01" 1;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
    font-variant-numeric: oldstyle-nums proportional-nums;
  }
}

@font-face {
  font-family: 'BrownSugar';
  src: url('public/fonts/BrownSugar/brown-sugar.ttf') format('truetype');
}

@font-face {
  font-family: 'Baskerville';
  src: url('public/fonts/Baskerville/Baskervville-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('public/fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Antonio';
  src: url('public/fonts/Antonio/Antonio-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSerifDisplay';
  src: url('public/fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url('public/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'TheSeasonsLight';
  src: url('public/fonts/theSeasons/Fontspring-DEMO-theseasons-ltit.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-feature-settings: normal;
}

@font-face {
  font-family: 'TheSeasonsRegular';
  src: url('public/fonts/theSeasons/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
}

@font-face {
  font-family: 'BodyGrotesque';
  src: url('public/fonts/BodyGrotesque/2.Body-Grotesque-Bold-trial.ttf') format('opentype');
}